@import "../stylesheets/core/variables";
@import "../stylesheets/core/reset";

@keyframes eye {
  0% {
    transform: translate(0, -40px);
  }
  50% {
    transform: translate(27px, -55px);
  }
  100% {
    transform: translate(0, -40px);
  }
}
@keyframes eye2 {
  0% {
    transform: translate(-5px, -40px);
  }
  50% {
    transform: translate(-15px, -70px);
  }
  100% {
    transform: translate(-5px, -40px);
  }
}
.landing {
  width: 100vw;
  height: 100vh;
  background-color: $color-bg-main;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__eye {
    transform: translate(50px, 50px);
    align-self: flex-start;
    width: 70px;
    height: 70px;
    border: 5px solid $color-second;
    border-radius: 50%;
    &--point {
      animation: eye 3s linear infinite;
      font-size: 150px;
      transform: translate(0, -80px);
    }
  }
  &__eye2 {
    transform: translate(400px, 0);
    align-self: flex-start;
    width: 70px;
    height: 70px;
    border: 5px solid $color-second;
    border-radius: 50%;
    &--point {
      border-radius: 50%;
      padding: 0;
      animation: eye2 3s linear infinite;
      font-size: 150px;
      transform: translate(-10px, -20px);
    }
  }
  &__main {
    width: 268px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 65px;
    @media all and (min-width: 768px) {
      min-width: 325px;
      margin-top: 0;
    }
  }
  &__logo {
    width: 270px;
    margin-bottom: 33px;
    @media all and (min-width: 768px) {
      min-width: 420px;
      margin-bottom: 45px;
    }
  }

  &__title {
    font-family: $font-landing;
    color: $color-main;
    font-size: 1.2rem;
    @media all and (min-width: 768px) {
      font-size: 24px;
    }
  }
  &__text {
    font-family: $font-main;
    color: $color-second;
    font-size: 0.8rem;
    @media all and (min-width: 768px) {
      font-size: 1rem;
    }
  }

  &__options {
    width: 100%;
    border-radius: 4px;
    border: solid 0.1rem rgba(225, 115, 52, 0.21);
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    margin-top: 18px;
    @media all and (min-width: 768px) {
      border-radius: 5px;
      border-width: 2px;
      margin-top: 27px;
    }

    &--item {
      display: flex;
      flex-direction: column;
      i {
        color: $color-main;
        font-size: 22.5px;
        @media all and (min-width: 768px) {
          font-size: 28px;
        }
      }
      span {
        font-family: $font-main;
        color: $color-text;
        font-size: 12.8px;
        @media all and (min-width: 768px) {
          font-size: 16px;
        }
      }
    }
  }
  &__link {
    width: 129px;
    background-color: $color-cuaternary;
    padding: 10px 0;
    border-radius: 30px;
    font-family: $font-main;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: $color-base;
    margin: 38px 0 30px;
    transition: ease 1s;
    border: 2px solid $color-cuaternary;
    @media all and (min-width: 768px) {
      position: absolute;
      bottom: 100px;
      @media all and (max-height: 670px) {
        position: absolute;
        bottom: 60px;
      }
    }
    &:hover {
      color: $color-main;
      background-color: white;
      font-weight: bold;
    }
  }
}
